@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import "tailwindcss";

:root {
    --font-family: "Jura", sans-serif;
    --second-family: "Poppins", sans-serif;
    --inter-family: "Inter", sans-serif;
    --jost-family: "Jost", sans-serif;
    --lexend-family: "Lexend", sans-serif;
    --comfortaa-family: "Lexend", sans-serif;
}

@theme {
    --color-primary: #fc764a;
    --color-secondary: #f1e1db;
    --color-darkBlue: #00006a;
    --color-black: #000;
    --color-white: #fff;
    --color-gray: #555;
    --color-grayLight: #9d9d9d;
    --color-grayLighter: #eaeaea;
    --color-grayLightest: #f5f5f5;
    --color-blue: #2580d5;
    --color-green: #55be24;
    --color-yellow: #f6b40a;
    --color-red: #e02200;

    --font-jura: "Jura", sans-serif;
    --font-poppins: "Poppins", sans-serif;
    --font-inter: "Inter", sans-serif;
    --font-json: "Jost", sans-serif;
    --font-lexend: "Lexend", sans-serif;
    --font-comfortaa: "Comfortaa", sans-serif;
}

body {
    font-family: var(--comfortaa-family), sans-serif;
    font-size: 16px;
}
